* {
    margin: 0;
    padding: 0;
}


/****************************Navbar***********************************/


.pic {
    height: 50px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.ml-auto {
    margin-right: 50px;
    margin-top: 0;

}